body{
    background-color: #BFD8D2;
}

.card{
    border-radius: 50px;
}
.card h3{
    margin-top: -20px;
    font-size: 32px;
    margin-left: 50px;
}

/* Navbar */
.navbar{
    position: relative;
    background-color: #BFD8D2;
    z-index: 1;
}

.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}

/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    color: #ffffff;
}

@media (min-width: 992px){

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

}