/* Side bar */

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #778f89;
    padding: 0;
    /* color: #ffffff; */
}

#sidebar-container .list-group small{
    color: #ffffff;
}

.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}


.sidebar-separator-title {
    background-color: #778f89;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


/* Navbar */
.navbar{
    position: relative;
    background-color: #06383b;
    z-index: 1;
}

.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}

/* Utility */
.tombol{
    text-transform: uppercase;
    /* border-radius: 40px; */
    color: white !important;
    /* background-color: rgb(235, 115, 141); */
    /* margin-top: 1px; */
    border-color: white;
}

.tombol:hover{
    background-color: blue;
    color: #68f7ff !important;
    border-color: blue !important;
}

/* Dropdown */
.tombol-dropdown{
    text-transform: uppercase;
}

/* Desktop Version */
@media (min-width: 992px){

    .navbar-brand, .nav-link{
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}