/* Navbar */
.navbar{
    position: relative;
    z-index: 1;
}

.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: rgb(4, 202, 4) !important;
}

/* Jumbotron */
.jumbotron{
    background-image: url(jumbotron-bg.jpg);
    background-size: cover;
    height: 540px;
    text-align: center;
    position: relative;
}

.jumbotron .container{
    position: relative;
    z-index: 1;
}

.jumbotron::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-6{
    color: white;    
    margin-top: 50px;
    /* font-weight: 100; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    /* font-size: 20px; */
    margin-bottom: 30px;
}

/* .jumbotron .display-4 span{
    font-weight: 500;
} */

/* Info Panel */
.info-panel{
    /* background-color: salmon; */
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -110px;
    background-color: white;
    padding: 30px;
}

.info-panel img{
    height: 80px;
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.info-panel h4{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p{
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200;
}

.workingspace{
    margin-top: 120px;
    text-align: center;
}

.workingspace h3{
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span{
    font-weight: 500;
}

.workingspace p{
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin-top: 30px;
}

/* Utility */
.tombol{
    text-transform: uppercase;
    /* border-radius: 30px; */
    color: #095459 !important;
    /* background-color: salmon; */
    margin-top: 1px;
    border-color: #095459;
    font-weight: 200;
    border-width: 2px;
}

.tombol:hover{
    background-color: #095459;
    color: white !important;
}

.tombol-2{
    width: 120px;
    /* height: 40px; */
    text-transform: uppercase;
    border-radius: 30px;
    color: #ffffff !important;
    background-color: #095459;
    margin-top: 20%;
    /* border-color: white; */
}

.tombol-2:hover{
    background-color: #06383b;
}

/* Desktop Version */
@media (min-width: 992px){

    .navbar-brand, .nav-link{
        color:#095459 !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
        font-weight: 200;
    }

    .nav-link:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron{
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-4{
        font-size: 62px;
    }

    .workingspace{
        text-align: left;
    }

}