body{
    background:#007bff8c;
}
.form-login{
    margin-top: 9%;
    left: 30%;
}
.outter-form-login {
    padding: 30px;
    background: #EEEEEE;
    position: relative;
    border-radius: 30px;
}
.logo-login {
    position: absolute;
    font-size: 36px;
    background: #21A957;
    color: #FFFFFF;
    padding: 10px 25px;
    top: -40px;
    border-radius: 50%;
    left: 42%;
}
.inner-login .form-control {
    background: #D3D3D3;
}
h3.title-login {
    font-size: 20px;
    margin-bottom: 20px;
}

.forget {
    margin-top: 20px;
    color: #ADADAD;
}
.btn-custom-green {
    background: #37c532;
    color: #fff;
}