/* Side bar */

#body-row {
    margin-left:0;
    margin-right:0;
}
#sidebar-container {
    min-height: 100vh;   
    background-color: #778f89;
    padding: 0;
    /* color: #ffffff; */
}

#sidebar-container .list-group small{
    color: #ffffff;
}

.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}


#sidebar-container .list-group a {
    height: 50px;
    color: white;
}


#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}


.sidebar-separator-title {
    background-color: #778f89;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}


#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


/* Navbar */
.navbar{
    position: relative;
    /* background-color: #06383b; */
    /* color: black; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);;
    z-index: 1;
    height: 70px;
}

.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    margin-right: 20px;
}

/* Utility */
.tombol{
    text-transform: uppercase;
    /* border-radius: 40px; */
    color: #095459 !important;
    /* background-color: rgb(235, 115, 141); */
    /* margin-top: 1px; */
    
    border-color: #095459;
}

.tombol:hover{
    background-color: #095459;
    color: white !important;
    border-color: #095459 !important;
}

.card-gambar{
    border-color: none;
}

.card img{
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 40px;
    border-color: none;
    
}

.card .card-body .card-title{
    margin-right: 10px;
    margin-top: 40px;
}




/* Desktop Version */
@media (min-width: 992px){

    .navbar-brand, .nav{
        color: #095459 !important;
        /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
        font-weight: bold;
    }

    .nav-link{
        text-transform: uppercase;
        font-size: 14px;
        margin-right: 30px;
        margin-left: 0px;
        margin-top: -3px;
    }

    .nav:hover::after{
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
}